# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov
.nyc_output

# Next.js
.next/
out/
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Database
*.db
*.sqlite
*.sqlite3
prisma/dev.db
prisma/migrations

# Prisma compiled files
packages/database/prisma/*.js
packages/database/prisma/*.d.ts
packages/database/prisma/*.map
packages/database/prisma/seeds/*.js
packages/database/prisma/seeds/*.d.ts
packages/database/prisma/seeds/*.map

# Uploads
uploads/
temp/
.tmp/
